@import url('https://fonts.googleapis.com/css?family=Raleway');

body{
    font-family:'Raleway' !important;
}

.cart_wrapper span {
    padding: 15px 20px 15px 0px;
    letter-spacing: 1px;  
}

.current_page {
    border-bottom: 2px solid #aaaaaa;
    color: #4b4b4b;
}

.upcoming_page {
    border-bottom: 2px solid #dddcdc;
    color: #b6b6b6;
}

.cart_title {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #026057;
}

.table_wrapper {
    border: 1px solid #d7d7d7;
    width: -webkit-fill-available;
}

thead tr {
    background-color: #f2f2f2;
}

tr {
    height: 50px;
}

td, th {
    padding: 0px 15px;
}

.img-box {
    width: 100px;
    height: 100px;
    margin: 10px 0px;
    border-radius: 16px;
    background-color: #eaeaea;
}

.qty_input {
    width: 35px;
    height: 35px;
    border: 1px solid #c5c0c0;
    text-align: center;
}

.cart_checkbox {
    width: 18px;
    height: 18px;
}

.cart_total {
    display: flex;
    justify-content: flex-end;
    height: 50px;
    align-items: center;
    background-color: #f2f2f2;
}

.cart_total_wrapper {
    min-width: 125px;
}

hr {
    background: rgb(226 226 226);
}

.voucher .title {
    font-weight: 800;
    font-size: 16px;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

.voucher .desc {
    font-size: 14px;
    margin-bottom: 15px;
}

.voucher_input {
    max-width: 300px;
    border: 1px solid #c9c9c9;
    border-radius: 50px;
    padding: 10px 25px;
    margin-bottom: 15px;   
}

.input_full_width {
    width: 100%;
    border: 1px solid #c9c9c9;
    border-radius: 50px;
    padding: 10px 25px;
    margin-bottom: 15px;    
}

.cart_btn {
    width: 120px;
    background-color: #ececec;
    padding: 8px;
    border-radius: 50px;
    color: #01332e;
}

.checkout_box {
    background-color: #f2f2f2;
    max-width: 400px;
    margin-left: auto;
    padding: 40px;
}

.checkout_row {
    height: 60px;
    align-items: center;
}

.contact_row {
    height: 40px;
    align-items: center;
}

.checkout_row_border {
    border-bottom: 1px solid #aeaeae;
}

.checkout_btn {
    width: 120px;
    background-color: teal;
    padding: 8px;
    border-radius: 50px;
    color: #ffffff;
    border: 2px solid teal;
}

.checkout_tot {
    color: #09d2ec;
    font-weight: 600;
}

.height-60 {
    height: 60px;
}

.cart_chk_title {
    width: 100%;
    height: 50px;
    padding: 0px 30px;
    align-items: center;
    display: flex;
    background-color: #f2f2f2;
}

.bg-clr1 {
    background-color: #f2f2f2;    
}

.border-right {
    border-right: 1px solid #b8b8b8;
}

.shipping_info a {
    color: teal !important;
    text-decoration: underline !important;
}

.btn2 {
    background-color: #fafafa;
    color: teal;
    border: 2px solid teal;
}

.btn_size {
    width: 80%;
    height: 42px;   
}

@media only screen and (min-width: 767px) {
    .cart_footer_box {
      display: flex;
    }
  }

  @media only screen and (max-width: 768px) {
    .cart_footer_box {
        display: block;
      }
  }