.tracker{
    display: flex;
}

.tracker_content{
    display: flex;
    max-width: 5000px;
    justify-content: flex-start;
    margin-top: 6px;
}

.tracker_content1{
    display: flex;
    justify-content: flex-end;
    margin-left: 100px;
    margin-top: 15px;
}

.shiporder_content{
    max-width:90%;    
    border-radius: 25px;
    box-shadow: 0 1px 1px #707070;
    padding:30px !important;
    margin:10px auto;
}

.footer_gap{
    margin-top: 250px;
}

.track_your_orders{
    font-size: 30px;
    color: #222B45;
}

.almaya_size_color{
    font-size: 16px;
    color: #222B45;
}

.id_size_color{
    font-size: 14px;
    color:#2DCCA9;
}

.items_size_color{
    font-size: 13px;
    color:#ACB1C0;
}

.waiting_color{
    color:#FFB600;
    font-size: 13px;
}

.dot_content{
    margin-left: 20px;
}
