@import url('https://fonts.googleapis.com/css?family=Raleway');

body{
    font-family:'Raleway' !important;
}

.store_container{
    margin: 0 110px !important;
}

.load_more{
    margin-bottom: 35px;
}

.form_border_1{
    
    /* width: 600px;     */
    border-radius: 25px;
    margin: 40px 0;
    /* padding: 90px !important;    */
    background-color: white;
    box-shadow: 0 2px 2px 2px #ccc;
    
}

.signin_buttoncolor{
    color:#2DCCA9;
}    
.signup_form{
    background-color:rgb(255, 255, 255);   
    background-size: cover;
    width: 100%;
}
.Lets_get_started{
    text-align: center;
    
    font-size: 20px;
}

.Stay_signed{
    text-align:center;
    font-size: 12px;
}

.sign_up{
     text-align: center;         
} 

.signup_button{
    height:40px;
    width: 200px;
    border-radius: 20px;
    color:teal;
    background-color: rgb(243, 241, 241);
}

input{
    width: 100%;
    padding: 10px;
    border: 0;
    outline:none;
    border-bottom: 1px solid rgb(238, 231, 231);

}

.accept_terms{
    width: 18px;
    height: 18px;
    
   
}

.dont_have_an_acc{
    text-align: center;
}

.country_place{
    right: 10px;
}

.accept_terms_color{
    color: #ABB3BB;
}


.dont_have_an_acc_color{
    color: #092C4C;
}

.storecontentbelow_bg{
    background-image:url(../../Asset/images/retailhomesecbg.jpg)
}

.youcloud_consumerapp{
    font-weight: bold;
    font-size: 40px
}

@media (min-width: 1200px){
.col-xl-2 {
    flex: 0 0 16.666667% !important;
    max-width: 18.666667% !important;
}}

.visitnow_bt_color{
    color: black;
}