.nav-1{
    background-color:lightseagreen;
    width: 100%;
    
}  
    
.head-1{
        display: flex;
        justify-content: space-between;
        color:white;
        font-size: 13px;       
      
}
    
.signin-1{
        background-color: #fff;
        box-shadow: 0 2px 2px 2px #00000021;
        /* padding: 60px !important; */
        max-width: 550px !important;
        border-radius: 22px;
        margin: 30px 0px;
}
    
.button-1a{
        min-height: 45px;
     color:#125E64 !important;
     background-color: white;
     border: 2px solid #125E64; 
     width: 50%;
}
    
.signin-divider hr {
        width: 160px;
        margin: 12px 20px;
}
    
.button-2a{
        background-color: white;
        border: 1px solid #dee2e6;        
        height: 74px;
        font-size: 15px;
}
    
.button-3{
        background-color: white;
        padding: 5px 40px;
        border: 1px solid black;
}

.forgot_password_color{
        color: #2DCCA9;
}
    
.landing_screen-1 {
        background-image: url(../../Asset/images/SignIn_bg.jpg);        
        background-repeat: no-repeat;
        width: 100%;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}
    
.mobile_img-1{
        justify-content: center;
        align-items: flex-end;
        display: flex;
}
    
.mobile_img-1 img {
        max-height: 550px;
}
    
input {
        width: 100%;
        border: 0;
        outline: none;
        border-bottom: 1px solid #e9ecef;
        padding-bottom: 10px;   
}
    
input:focus {
        outline: none;
}
    
.keep-signed-1 {
        width: 18px;
        height: 18px;
}
    
@media only screen and (max-width: 1100px) {
        .signin-1  {
                max-width: 100% !important;
                width: 100% !important;
                flex: auto !important;
        }
}

hr{
        border: 1px solid #E1E1E1 !important;
}

.welcome_back{    
        
        font-size: 30px;
        color:#092C4C;
        
}
.online{
       font-size: 16px; 
}


.font_family_text{
        width:100%;
}

.keep_me_signed_font_color{
        color:  #ABB3BB;
        font-size: 18px;
}

@media only screen and (max-width:1099px){
        .mobile_view_1{
            display: flex;
            flex-direction: column-reverse;
        }
    }

    
@media only screen and (max-width:426px){
        .mobile_img-1{
            display: none ;
        }
    }
  
.or_font_color{
        color: #B2B2B2 !important;
}    


hr{
        border: 1px solid #E1E1E1 !important;
    }  

.dont_have_an_accountsize{
        font-size: 18px;
        color: #092C4C;
    }    