@import url('https://fonts.googleapis.com/css?family=Raleway');

body{
    font-family:'Raleway' !important;
}



.footer_content{
    display: flex;
    justify-content: space-between;
    color:white;
}

ul{
    list-style: none;
}

.footer_background{
    background-image: url(../../Asset/images/footer.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    width: 100%;
    background-position: bottom;

}

footer {
    background-color: #112e33;
    border-radius: 26px 26px 0px 0px;    
}

.copyright_content{
    color: white;
    /* justify-content: space-between; */
    /* font-family:'Raleway' !important; */
    position: relative;
    bottom: 20px;

}

li{
    padding: 8px !important;
    font-size: 13px;
    font-style: normal;
    font-weight: lighter;
}

.about_footer{
    font-weight: 600;
    /* font-size: 18px; */
}

.sellonyoushop{
    color: white;
}

.footercontentcolor{
    color: #f0ecec;
}

.footer_hrline{
    position: relative;
    bottom: 30px;
}

.footer_content_icons{
    position: relative;
    bottom: 40px;
}

.footer_content_bottom{
    font-size: 13px;
}