
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

// 4. Include any optional Bootstrap components as you like
@import "../node_modules/bootstrap/scss/root";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";

body {
  position: relative;
  height: 100%;
}

button {
  border: none;
  outline: none !important;
  &.circle {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    background-color: #2CC5A4;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    // -webkit-box-shadow: inset 0px 0px 0px 1.5px rgba(0, 0, 0, 0.8);
    // -moz-box-shadow: inset 0px 0px 0px 1.5px rgba(0, 0, 0, 0.8);
    // box-shadow: inset 0px 0px 0px 1.5px rgba(0, 0, 0, 0.8);
    i{
      color: white;
    }
    img {
      margin: auto;
      width: 18px;
      height: 18px;
      transition: 0.5s;
    }

    &:focus {
      text-decoration: none;
      -webkit-box-shadow: inset 0px 0px 0px 1.5px rgba(0, 0, 0, 0.8);
      -moz-box-shadow: inset 0px 0px 0px 1.5px rgba(0, 0, 0, 0.8);
      box-shadow: inset 0px 0px 0px 1.5px rgba(0, 0, 0, 0.8);
    }
    &:hover {
      cursor: pointer;
      transform: rotate(360deg);
      box-shadow: inset 0px 0px 0px 1.5px black;
      text-decoration: none;
    }
    &:active {
      transform: scale(1.2);
      box-shadow: inset 0px 0px 0px 1.5px black;
    }
  }
}


.cards {
  &.zoomable {
    transition: 0.2s transform;
    transform: scale(1);
    &:hover {
      transform: scale(1.03);
      //       -webkit-box-shadow: -1px 7px 21px -6px rgba(112,197,196,1);
      // -moz-box-shadow: -1px 7px 21px -6px rgba(112,197,196,1);
      // box-shadow: -1px 7px 21px -6px rgba(112,197,196,1);
      -webkit-box-shadow: -1px 0px 21px -6px rgba(112, 197, 196, 1);
      -moz-box-shadow: -1px 0px 21px -6px rgba(112, 197, 196, 1);
      box-shadow: -1px 0px 21px -6px rgba(112, 197, 196, 1);
    }
  }
  border-radius: 10px;
  &.trip-shadow {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.18);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.18);
  }
  &.unselectedTrip {
    opacity: 0.4;
  }
  .packages {
    background-color: #ffffff;
    border-radius: 15px;
    padding-bottom: 20px;
    cursor: pointer;
    display: block;

    .info{
      background: white;
      border-radius: 15px;
    }

    &:hover {
      text-decoration: none;
      .btn-wrapper {
        opacity: 1 !important;
      }
      .trending {
        display: none !important;
      }
      .premium {
        display: none !important;
      }
    }

    .package-img {
      height: 130px;
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      position: relative;

    

      .rating {
        display: flex;
        position: absolute;
        padding: 3px;
        border-radius: 5px;
        color: white;
        font-weight: bold;
        font-size: 12px;

        .crown {
          color: white;
          font-size: 12px;
        }
      }

      .btn-wrapper {
        opacity: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.548);
        transition: opacity 0.3s;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;

        .btn {
          font-size: 13px;
          background-color: black;
          padding-right: 40px;
          padding-left: 40px;
          margin: 20px auto;
          border-radius: 5px;
          box-shadow: none !important;
          border-color: none !important;

          i {
            color: white;
            font-size: 12px;
            margin-right: 8px;
          }
        }
      }
    }
    .location {
      i {
        color: black;
        font-size: 10px;
      }

      span {
        color: black;
        font-size: 10px;
        font-weight: bold;
        text-transform: uppercase;
      }

      .tr-rating {


        .empty-star-color {
          color: #a5a5a5 !important;
        }
        .rated-star-color {
          color: #f67f16 !important;
        }
      }
    }
    .package-desc {
      h4 {
        color: #4a4a4a;
        font-weight: bold;
        font-size: 17px;
        max-width: 230px;
      }
      .desc-head {
        color: #a5a5a5;
        font-size: 10px;
      }

      p {
        color: #4a4a4a;
        font-size: 15px;
      }
    }

    .duration {
      color: #7b7b7b;
      font-size: 10px;
      height: 23px;
    }

    .actual-price-tag {
      color: #a5a5a5;
      font-size: 12px;
      font-weight: bold;
    }

    .discounted-price-tag {
      color: #4a4a4a;
      font-weight: bold;
      font-size: 16px;

      span {
        color: black;
        font-size: 13px;
      }
    }
  }
}

.btn-link {
  &:active {
    transform: scale(0.9);
  }
}

.mobile-header-wrapper {
  display: flex;
  flex-direction: row;

  .menu-btn {
    border: none;
    background-color: transparent;
    margin-left: -15px;
    outline: 0px;
    transition: 0.3s transform;
    i {
      font-size: 22px;
    }
    &:active {
      transform: scale(0.7);
      color: black;
    }
  }
  .mobile-logo-wrapper {
    display: flex;
    flex: 1;
    align-items: center;

    img {
      max-height: 51px;
      @include media-breakpoint-down(xs) {
        height: 40px;
      }
    }
  }
  .mobile-currency-wrapper {
    display: flex;
    align-items: center;
    position: relative;
    select {
      -webkit-appearance: none;
      font-weight: bold;
      padding-left: 30px;
      font-size: 12px;
    }

    i {
      position: absolute;
      top: 20px;
      left: 12px;
      color: #dca815;
    }
  }
}

.default-sidebar {
  &.sidebar-open {
    .sidebar {
      transform: translateX(0) !important;
    }
    .sidebar-backdrop {
      display: block;
    }
  }

  .sidebar-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.253);
    display: none;
    z-index: 99;
  }

  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 80vw;
    max-width: 300px;
    background-color: white;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    transform: translateX(-100%);
    transition: 0.4s transform;
    z-index: 100;

  
    .sidebar-content {
      flex: 1;
      overflow: auto;

      li {
        background-color: white;
        a {
          color: #656565;

          &:hover {
            color: #474646;
          }
          &:active {
            color: #252525;
          }
        }
        &.selected {
          background-color: rgb(236, 232, 232);
        }
      }
    }
    .sidebar-footer {
      flex-shrink: 0;

      .sign-up {
        border-bottom: solid 1px #a5a5a5;
        span {
          color: #a5a5a5;
          font-weight: bold;
        }
        button {
          background-color: blue;
          font-weight: bold;
        }
      }
    }
  }
}

header{
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 101;
  .travellerdashboard {
    position: relative;
  }
  .header-wrapper-left {
    display: flex;
    flex-direction: row;
    .search-box {
      .form-control {
        font-size: 13px;
      }
    }
    .logo-wrapper {
      img {
        max-height: 38px;
        transform: scale(1.4);
      }
    }

    .currency-wrapper {
      flex-shrink: 0;
      position: relative;

      i {
        position: absolute;
        top: 8px;
        left: 10px;
        color: #dca815;
      }
      select {
        -webkit-appearance: none;
        font-weight: bold;
        padding-left: 30px;
        font-size: 12px;
      }
    }
  }
  .language-flag-wrapper {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    h6 {
      font-size: 10px;
      font-weight: bold;
      white-space: nowrap;
    }
    img {
      height: 25px;
      @include media-breakpoint-down(xs) {
        height: 20px;
      }
    }
  }
  .header-wrapper-right {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;

    button {
      font-size: 14px;
      background-color: transparent;
      &:active {
        color: unset;
      }
    }
    a {
      color: #656565;
      font-size: 14px;

      &[data-tbpath="/dashboard"] {
        font-weight: bold;
      }

      &:hover {
        color: #474646;
      }
      &:active {
        color: #252525;
      }
    }
    .navbar-wrapper {
      .nav-item {
        &.selected-item {
          position: relative;
          &::after {
            content: "";
            position: absolute;
            right: 0;
            bottom: -10px;
            left: 0;
            background-color: #0a9473;
            height: 3px;
          }
        }
      }
    }
  }

  .mobile-header-wrapper {
    display: flex;
    flex-direction: row;

    .menu-btn {
      border: none;
      background-color: transparent;
      margin-left: -15px;
      outline: 0px;
      transition: 0.3s transform;
      i {
        font-size: 22px;
      }
      &:active {
        transform: scale(0.7);
        color: black;
      }
    }
    .mobile-logo-wrapper {
      display: flex;
      flex: 1;
      align-items: center;

      img {
        max-height: 51px;
        @include media-breakpoint-down(xs) {
          height: 40px;
        }
      }
    }

  }
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
