.loyaltypointscolor{
    color: #092C4C;
    font-size: 24px;
    font-weight: bold;
}

.loyaltycontent{
    width: 1000px;
    height: 140px;    
    background-color:#23ddb424;
    padding: 30px;
    align-items: center;
    justify-content: space-between;
}

.loyaltycontent_1{
    width: 1000px;
    height: 140px;    
    background-color:#23ddb424;
    padding: 30px;
    align-items: center;
    justify-content: space-between;
}

.loyalty_container{
    margin: 0px 50px !important;
}

/* .storedatecontent{
    
} */

.order_idcolor{
    color: #125E64;
    font-weight: bold;
}

.points_added{
    color: #092C4C;
    font-size: 30px;
}

.storecontent_size{
    font-size: 13px;
}

/* .vouchercontent_place{
} */

.transactiontype_size{
    font-size: 10px;
    text-align: center;
}


.cardpayment_box{
    /* border: 2px solid black; */
    background-color: #2DCCA9;
    color: white;
    width: 170px;
    height: 60px;
    padding: 20px;
    text-align: center;
    
}

.searchnow_position{
    
    width: 150px;
    height: 40px;
    /* border: 2px solid gray; */
}

.searchnow_border{
    border: 1px solid gray;
    /* max-width: 100px; */
    max-width: 250px;
    float: right;
    border-radius: 50px;

}

.search_css{
    z-index: 9;
}

.has-search .form-control {
    padding-left: 2.375rem;
    border-radius: 20px;
}
 
.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.calender_bordersize{
    width: 150px;
    height: 33px;
    border-radius: 20px;
    padding: 0px 10px;    
    border-color: #d7d4d4;
}

.calender_bordersize:focus-visible{
    outline: none;}

.prevcolor{
    color:#787389;
}

.nextcolor{
    color: #323136;
}

.twocolor{
    color: #787389;
}

/* .onecolor{
    background-color: #125E64;
    
} */

.calender_and_search{
    justify-content: flex-end;
}

.searchnowwidth{
    width: 150px;
}